.RoomContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.SelectRoomDiv {
  display: flex;
  border-top: 1px solid #f3f3f3;
  padding: 16px 18px 16px 46px;
  align-items: center;
}

.SelectRoomDiv h3 {
  font-family: "EtihadAltis-Medium", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #4e4c4a;
  margin: 0;
}

.HideDetailBtn {
  font-family: "EtihadAltis-Book", Arial, Helvetica, sans-serif;
  font-weight: 350;
  font-size: 18px;
  line-height: 23px;
  color: #005f96;
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  margin-left: auto;
  cursor: pointer;
}

.CheckInDiv {
  background: #f68d2e;
  font-family: "EtihadAltis-Book", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  padding: 15px 46px 17px 46px;
  text-align: center;
}

.RoomContent {
  display: flex;
  align-items: center;
  padding: 16px 50px 16px 46px;
  border-bottom: 1px solid #f3f3f3;
}

.RoomInfo {
  display: flex;
  flex-direction: column;
  font-family: "EtihadAltis-Book", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #4e4c4a;
}

.AddRoomBtn {
  width: 171px;
  height: 50px;
  background: #bd8b13;
  border-radius: 8px;
  border: none;
  font-family: "EtihadAltis-Book", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  margin-left: auto;
}

.AddRoomBtn.Disabled {
  background: #f3f3f3;
  color: #71706e;
}

.MoreRooms {
  padding: 19px 46px;
}

.MoreRoomBtn {
  border: none;
  outline: none;
  background: none;
  font-family: "EtihadAltis-Book", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #4e4c4a;
  display: flex;
}

.AngleDown {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.AngleDown::after {
  display: block;
  content: '\f107';
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  font-size: 22px;
}
