.Progress {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  padding: 24px;
  user-select: none;
}

.Progress > span {
  color: #959492;
  display: flex;
  align-items: center;
}

.Progress > span:not(:last-child)::after {
  display: block;
  content: '';
  border-top: 1px dashed #b8b7b7;
  width: 50px;
  margin: 0 16px;
}

.Progress > .Current {
  color: #bd8b13;
  font-weight: 600;
}
