.home-view > .top-image {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 400px;
  background-image: url('../../Assets/Images/sky-2.webp');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.home-view > .content-wrapper {
  padding-top: 260px;
  display: flex;
  justify-content: center;
}

.home-view > .content-wrapper > .trip-search {
  max-width: 1240px;
  width: 100%;
}
