.Title {
  font-family: 'EtihadAltis-Medium', Arial, Helvetica, sans-serif;
  font-weight: 900;
  padding: 16px 20px;
  border-bottom: 1px solid #dcdbdb;
  display: flex;
  align-items: center;
}

.Title > img {
  height: 32px;
}

html:not([dir='rtl']) .Title > img {
  margin-right: 16px;
}

html[dir='rtl'] .Title > img {
  margin-left: 16px;
}

.Link {
  border-bottom: 1px solid #dcdbdb;
}

.Link > a {
  display: block;
  padding: 16px 24px;
  color: #4e4c4a;
  text-decoration: none;
}

.Link > a:hover,
.Link > a.Active {
  background-color: #f7f6f3;
}
