.checkbox-ui-component {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.checkbox-ui-component * {
  all: initial;
  color: #4e4c4a;
  cursor: pointer;
}

.checkbox-ui-component > input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-ui-component > label > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 0 2px #b8b7b7;
  border: 2px solid #fff;
  margin-right: 0.5em;
}

html[dir='rtl'] .checkbox-ui-component > label > div {
  margin-right: unset;
  margin-left: 0.5em;
}

.checkbox-ui-component > label > div::before {
  font-family: 'FontAwesome', Arial, sans-serif;
  content: '\f00c';
  font-size: 1em;
  color: transparent;
}

.checkbox-ui-component > input:checked ~ label > div {
  background-color: #bd8b13;
}

.checkbox-ui-component > input:focus ~ label > div {
  box-shadow: 0 0 0 2px #6997d3;
}

.checkbox-ui-component > input:checked ~ label > div::before {
  color: #fff;
}
