.Heading {
  padding-top: 40px;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #bd8b13;
  margin-bottom: 30px;
  font-family: "EtihadAltis-Medium", Arial, Helvetica, sans-serif;
}

.SubHeading {
  font-weight: normal;
  font-size: 18px;
  font-style: italic;
  line-height: 23px;
  text-align: center;
  color: #4e4c4a;
  margin-bottom: 18px;
  font-family: "EtihadAltis-Book", Arial, Helvetica, sans-serif;
}

.ButtonsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
}

.ButtonsWrap button {
  border: 4px solid #4e4c4a;
  border-radius: 8px;
  width: 160px;
  height: 45px;
  margin: 0 12px;
  background-color: transparent;
  cursor: pointer;
  outline: none !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #4e4c4a;
  font-family: "EtihadAltis-Medium", Arial, Helvetica, sans-serif;
}

.ButtonsWrap button.Active {
  border: 4px solid #bd8b13;
  color: #bd8b13;
}
