.HotelItem {
  display: grid;
  grid-template-columns:
    40px
    max-content;
  gap: 0 16px;
}

.Icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background-color: #dcdbdb;
  align-self: center;
}

.Info {
  display: grid;
  grid-template-rows:
    max-content
    max-content
    max-content;
  gap: 6px 0;
  font-size: 14px;
}

.Info > strong {
  font-family: 'EtihadAltis-Medium', Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.Info > button {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #005f96;
  font-family: 'EtihadAltis-Book', Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  justify-self: start;
  line-height: 1;
}

.HotelItemDetailed > strong,
.HotelItemDetailed > span {
  display: block;
  line-height: 1.6;
}

.HotelItemDetailed > .Pricing {
  margin: 0 0 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #cecece;
}

.HotelItemDetailed > .CheckInOut {
  color: #a0a0a0;
  font-size: 14px;
}

.HotelItemDetailed > .IncludedMeals {
  color: #7a9a01;
}
