.Container {
  display: flex;
  position: relative;
}

.Header {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4e4c4a;
  align-items: center;
  margin: 0 50px 0 0;
  cursor: pointer;
}

.Header .AngleDown {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.Header .AngleDown::after {
  display: block;
  content: '\f107';
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.Dropdown {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px #a6a6a6;
  border-radius: 8px;
  width: 420px;
  right: 10px;
  top: 0;
  padding: 20px 30px 30px;
  z-index: 1;
}

.ContentHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 0 31px 0;
}

.Title {
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #4e4c4a;
}

.CloseBtn {
  cursor: pointer;
}

.CloseBtn img {
  width: 20px;
  height: 20px;
}

.RangeDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.RangeDiv:last-child {
  margin-bottom: 0;
}

.FilterLabel {
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 14px;
  color: #4e4c4a;
  margin: 0;
}

.FilterLabel span {
  color: #71706e;
  margin-left: 15px;
}

.FilterLabel .ColorLabel {
  color: #bd8b13;
}

.StopsDiv {
  margin: 0 0 24px 0;
}

.StopsDiv .FilterLabel {
  margin-bottom: 20px;
}

.StopsDiv label {
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  color: #71706e;
  margin-bottom: 10px;
}

.RangeDiv .FilterLabel {
  display: flex;
  align-items: center;
}

.RangeDiv .FilterLabel.PriceLabel {
  margin-bottom: 10px;
  z-index: 2;
}

.PriceSelect {
  height: 30px;
  margin-left: auto;
}

.PriceSelectWrapper {
  width: 164px;
  font-size: 14px !important;
}

.PriceSelectWrapper > div:first-child {
  height: 30px;
  border-bottom: none;
}
