.ui-select {
  display: block;
  height: 50px;
  font-size: 18px;
  color: #4e4c4a;
  cursor: pointer;
  outline: 0;
  user-select: none;
}

.ui-select:focus {
  position: relative;
  z-index: 1;
}

.ui-select > .wrapper {
  border-radius: 4px;
  border: 1px solid #4e4c4a;
  background-color: #fff;
  overflow: hidden;
}

.ui-select:focus > .wrapper {
  box-shadow: 0 0 0 2px #6997d3;
  border-color: #fff;
}

.ui-select[aria-expanded='false'] > .wrapper {
  max-height: 50px;
}

.ui-select > .wrapper > .selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 16px;
  height: 49px;
  border-bottom: 1px solid #dcdbdb;
}

.ui-select > .wrapper > .selected::after {
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  content: '\f107';
  font-size: 22px;
  transition: transform 100ms;
}

.ui-select[aria-expanded='true'] > .wrapper > .selected::after {
  transform: rotateZ(-180deg);
}

html:not([dir='rtl']) .ui-select > .wrapper > .selected::after {
  margin-left: 16px;
}

html[dir='rtl'] .ui-select > .wrapper > .selected::after {
  margin-right: 16px;
}

.ui-select > .wrapper > .options {
  max-height: 400px;
  overflow: auto;
}

.ui-select[aria-expanded='false'] > .wrapper > .options {
  visibility: hidden; /* Fixes FF tab issue. */
}

.ui-select > .wrapper > .options > .option {
  padding: 11px 16px;
}

.ui-select > .wrapper > .options > .option:hover {
  background-color: #f2f2f2;
}

.ui-select > .wrapper > .options > .option[aria-selected='true'] {
  background-color: #6997d3;
  color: #fff;
}

.ui-select > .wrapper > .options > .option:not(:first-child) {
  border-top: 1px solid #dcdbdb;
}
