.Select {
  display: block;
  height: 50px;
  font-size: 18px;
  color: #4e4c4a;
  cursor: pointer;
  outline: 0;
  user-select: none;
}

.Wrapper {
  border-radius: 4px;
  border: 1px solid #b8b7b7;
  background-color: #fff;
  overflow: hidden;
}

.Select:focus > .Wrapper {
  box-shadow: 0 0 0 2px #6997d3;
  border-color: #fff;
}

.Select[aria-expanded='false'] > .Wrapper {
  max-height: 50px;
}

.Selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 49px;
  border-bottom: 1px solid #dcdbdb;
}

.Selected::after {
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  content: '\f107';
  font-size: 22px;
  transition: transform 100ms;
}

html:not([dir='rtl']) .Selected::after {
  margin-left: 16px;
}

html[dir='rtl'] .Selected::after {
  margin-right: 16px;
}

.Select[aria-expanded='true'] .Selected::after {
  transform: rotateZ(-180deg);
}

.Options {
  max-height: 400px;
  overflow: auto;
}

.Select[aria-expanded='false'] .ModalWrapper {
  visibility: hidden;
  max-height: 0;
}

.Option {
  padding: 11px 16px;
}

.Option:hover {
  background-color: #f2f2f2;
}

.Option[aria-selected='true'] {
  background-color: #6997d3;
  color: #fff;
}

.Option:not(:first-child) {
  border-top: 1px solid #dcdbdb;
}

@media screen and (min-width: 481px) {
  .Select:focus {
    position: relative;
    z-index: 1;
  }

  .Option {
    display: flex;
    justify-content: space-between;
  }

  .Option::after {
    font-family: 'Icons', Arial, Helvetica, sans-serif;
    content: '\f107';
    font-size: 22px;
    visibility: hidden;
    transition: transform 100ms;
  }

  html:not([dir='rtl']) .Option::after {
    margin-left: 16px;
  }

  html[dir='rtl'] .Option::after {
    margin-right: 16px;
  }
}

@media screen and (max-width: 480px) {
  .ModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    padding: 16px;
    display: flex;
    align-items: center;
    cursor: default;
  }

  .Options {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #fff;
    cursor: pointer;
    max-height: calc(100vh - 32px);
  }

  .Options > .option {
    padding: 16px;
  }
}
