.ui-select {
  display: inline-block;
  position: relative;
  outline: 0;
  white-space: nowrap;
  cursor: pointer;
}

.ui-select > .selected {
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #fff;
  align-items: center;
  padding: 8px;
}

.ui-select:focus > .selected {
  border: 1px solid #a5c1e5;
}

.ui-select:hover > .selected {
  background-color: #f3f3f3;
}

.ui-select > .selected > img {
  margin-left: 10px;
}

.ui-select > .options {
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #a6a6a6;
  border-radius: 8px;
  z-index: 1000;
}

.ui-select[aria-expanded='false'] > .options {
  display: none;
}

.ui-select > .options > .ui-option {
  display: flex;
  padding: 25px 30px;
  padding-left: 45px;
  white-space: nowrap;
  position: relative;
}

.ui-select > .options > .ui-option:hover {
  background-color: #ededec;
}

.ui-select > .options > .ui-option > img {
  position: absolute;
  left: 15px;
  top: 26px;
}

html[dir='rtl'] .ui-select > .selected > img {
  margin-left: 0;
  margin-right: 10px;
}

html[dir='rtl'] .ui-select > .options {
  left: initial;
  right: -16px;
}

html[dir='rtl'] .ui-select > .options > .ui-option {
  padding: 25px 30px;
  padding-right: 45px;
}

html[dir='rtl'] .ui-select > .options > .ui-option > img {
  left: initial;
  right: 15px;
}
