.trip-search {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 20px;
  box-shadow: 0 0 8px #a6a6a6;
}

.trip-search > .row-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.trip-search > .row-1 > .trip-details > .ui-select,
.trip-search > .row-1 > .trip-details > .passenger-picker {
  margin: 0 7px;
}

.trip-search > .row-1 > .trip-options > a {
  text-decoration: none;
  color: #005f96;
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 15px;
}

.trip-search > .row-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.trip-search > .row-2 > .trip-origin-destination {
  display: flex;
  align-items: center;
  width: 50%;
}

.trip-search > .row-2 > .trip-origin-destination > .airport-search {
  margin: 0 10px;
  max-width: 295px;
  width: 100%;
}

.trip-search > .row-2 > .trip-origin-destination > button {
  position: relative;
  top: 15px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.trip-search > .row-2 > .trip-origin-destination > button:disabled {
  cursor: not-allowed;
}
