.Container {
  display: flex;
  position: relative;
}

.Header {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4e4c4a;
  align-items: center;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.Header .AngleDown {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.Header .AngleDown::after {
  display: block;
  content: '\f107';
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.Dropdown {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px #a6a6a6;
  border-radius: 8px;
  width: 295px;
  right: 10px;
  top: 0;
  padding: 15px;
  z-index: 1;
}

.Dropdown .DropdownItem {
  cursor: pointer;
  position: relative;
  font-family: "EtihadAltis-Book", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #4e4c4a;
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 28px;
}

.Dropdown .DropdownItem img {
  position: absolute;
  width: 17px;
  height: 12.52px;
  left: 0;
}
