.FlightSearchResult {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 24px;
  transition: padding 300ms;
  user-select: none;
}

.OriginDestination {
  display: flex;
  align-items: center;
}

.OriginDestination > img {
  transform: rotateZ(90deg);
  background-color: #f2e8d0;
  padding: 8px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.OriginDestination > strong {
  margin: 0 16px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
}

.Result {
  padding-top: 8px;
}

.Searching {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Searching > img {
  height: 48px;
  margin: 0 8px;
}

.NoResult,
.DayRibbon {
  margin-top: 16px;
}

.FlightEntries {
  display: grid;
  grid-template-columns:
    [originDestination] max-content
    [travelTime] auto
    [stops] auto
    [cabinClasses] max-content
    [showDetails] max-content;
    gap: 16px;
  margin-top: 16px;
}

/* .FlightEntries > .FlightEntry {
  width: 100%;
  margin-top: 16px;
  border-bottom: 1px solid #f3f3f3;
} */

.ShowMore {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / -1;
}

.ShowMore > span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ShowMore > span::after {
  content: '\f107';
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 6px;
}

html:not([dir='rtl']) .ShowMore > span::after {
  margin-left: 22px;
}

html[dir='rtl'] .ShowMore > span::after {
  margin-right: 22px;
}

@media screen and (max-width: 650px) {
  .FlightSearchResult {
    padding: 16px;
  }
}
