.Header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transition:
    top 200ms,
    height 200ms;
  user-select: none;
}

.Wrapper {
  flex-basis: 1376px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: margin 300ms;
  min-width: 0;
}

html:not([dir='rtl']) .Wrapper {
  margin: 0 8px 0 24px;
}

html[dir='rtl'] .Wrapper {
  margin: 0 24px 0 8px;
}

.Wrapper > a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .Wrapper {
    margin: 0 16px;
  }
}
