#main-menu-checkbox {
  display: none;
}

@media screen and (min-width: 1101px) {
  .main-menu {
    display: flex;
    height: 100%;
    color: #4e4c4a;
  }

  .main-menu .hamburger-menu-header {
    display: none;
  }

  .main-menu .main-menu-image-items,
  .main-menu .main-menu-items {
    display: flex;
    font-size: 2rem;
    height: 100%;
  }

  .main-menu .main-menu-item {
    display: flex;
    align-items: center;
    padding: 0 2px;
  }

  .main-menu .main-menu-item.hamburger-menu {
    display: none;
  }

  .main-menu .main-menu-item > a {
    position: relative;
    display: flex;
    padding: 0 8px;
    align-items: center;
    height: 100%;
    font-size: 1em;
    font-family: 'EtihadAltis-Medium', Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #4e4c4a;
  }

  .main-menu .main-menu-item > span {
    display: none;
  }

  .main-menu .main-menu-category-item > a {
    display: inline-block;
    text-decoration: none;
    color: #4e4c4a;
  }

  .main-menu .main-menu-item:hover > a {
    color: #000;
  }

  .main-menu .main-menu-item > a::after {
    display: block;
    content: '';
    background-color: #000;
    opacity: 0;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition:
      width 200ms,
      opacity 200ms,
      left 200ms,
      background-color 200ms;
  }

  .main-menu .main-menu-category-item > a::after {
    width: 100%;
    content: '';
    display: block;
    border-bottom: 2px solid transparent;
    margin-top: 4px;
    transition: border-bottom 200ms;
  }

  .main-menu .main-menu-item > a.active::after,
  .main-menu .main-menu-item:hover > a::after {
    width: calc(100% - 4px);
    opacity: 1;
    left: 2px;
  }

  .main-menu .main-menu-item > a.active::after {
    background-color: #bd8b13;
  }

  /* Categories. */
  .main-menu .main-menu-categories {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 32px 0;
    white-space: nowrap;
    font-size: 0.8em;
  }

  header:not(.show) .main-menu-categories {
    display: none;
  }

  .main-menu .main-menu-item:not(:hover) .main-menu-categories {
    display: none;
  }

  .main-menu .main-menu-category {
    display: flex;
  }

  .main-menu .main-menu-category:not(:first-child) {
    margin-left: 80px;
  }

  .main-menu .main-menu-category > img {
    width: 60px;
    margin-right: 16px;
    align-self: flex-start;
  }

  .main-menu .main-menu-category-item-header {
    font-family: 'EtihadAltis-Medium', Arial, sans-serif;
    font-weight: 600;
    padding-bottom: 12px;
  }

  .main-menu .main-menu-category-item {
    padding: 4px 0;
  }

  .main-menu .main-menu-category-item > a:hover {
    text-decoration: none;
    color: #000;
  }

  .main-menu .main-menu-category-item > a:hover::after {
    border-bottom: 2px solid #b8b7b7;
  }

  .main-menu .main-menu-category-item > a.active::after {
    border-bottom: 2px solid #bd8b13;
  }

  html[dir='rtl'] .main-menu .main-menu-category:not(:first-child) {
    margin-left: unset;
    margin-right: 80px;
  }

  html[dir='rtl'] .main-menu .main-menu-category > img {
    margin-right: unset;
    margin-left: 16px;
  }
}
