.RevewStarContainer {
  width: 92px;
  height: 16px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.RevewStarContainer .starContainer {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.RevewStarContainer .starContainer img {
  width: 92px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
