.airport-search {
  display: inline-block;
  outline: 0;
  position: relative;
  height: 84px;
  z-index: 0;
}

.airport-search[aria-expanded='true'] {
  z-index: 1000;
}

.airport-search > .wrapper {
  position: relative;
  width: 100%;
  z-index: 0;
  background-color: #fff;
}

.airport-search[aria-expanded='true'] > .wrapper {
  top: -23px;
  left: -23px;
  width: 660px;
  box-shadow: 0 0 8px #a6a6a6;
  border-radius: 8px;
}

html[dir='rtl'] .airport-search[aria-expanded='true'] > .wrapper {
  left: initial;
  right: -23px;
}

.airport-search[aria-expanded='true'] > .wrapper > .search {
  padding: 23px 23px 0;
  border-bottom: 1px solid #a6a6a6;
}

.airport-search > .wrapper > .search > .close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: none;
}

.airport-search[aria-expanded='true'] > .wrapper > .search > .close-btn {
  display: block;
}

html[dir='rtl'] .airport-search > .wrapper > .search > .close-btn {
  right: initial;
  left: 24px;
}

.airport-search > .wrapper > .search > .input-label {
  display: block;
  margin-bottom: 10px;
}

.airport-search > .wrapper > .search > input {
  width: 100%;
  transition: padding 300ms;
}

.airport-search[aria-expanded='true'] > .wrapper > .search > input {
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
}

.airport-search[aria-expanded='false'] > .wrapper > .result-view {
  display: none;
}
