.ComponentContainer {
  display: flex;  
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1170px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 50px 0 0 0;
}

.TabSelector {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.TabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  cursor: pointer;
  background: #e5e5e5;
}

.TabItem.Active {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #bd8b13;
  background: #fff;
}

.FlightSelector {
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.SwapButton {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  padding: 0;
  z-index: 1;
  background: url('../../../../../Assets/Images/Experimental/Swap.svg') center center no-repeat;
  background-size: 40px 40px;
  border-radius: 25px;
}

.AirportSearch {
  height: 59;
  width: 50%;
}

.AirportSearch:first-child {
  border-right: 1px solid #e5e5e5;
}

.AirportSearch input[type="text"] {
  height: 58px !important; 
  border: none;
  border-radius: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;  
  color: #bd8b13;
}

.AirportSearchWrapper {  
  border-radius: 0;
  border: none;  
}

.AirportSearch[aria-expanded='false'] .AirportSearchWrapper {
  max-height: 59px;
}

.TripBar {
  display: flex;
  width: 100%;
  height: 60px;
  background: white;
}

.DateSelectorWrapper {
  flex: 1 0 43%;
}

.SearchButton {
  flex: 1 1 100%;
  height: 100%;
  max-width: 300px;
  background: #bd8b13;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  cursor: pointer;
}
