.PassengerPicker {
  display: block;
  position: relative;
  outline: 0;
  height: 50px;
  font-size: 18px;
  user-select: none;
}

.Wrapper {
  border-radius: 4px;
  border: 1px solid #b8b7b7;
  background-color: #fff;
  overflow: hidden;
}

.PassengerPicker[aria-expanded='true'] > .Wrapper,
.PassengerPicker:focus > .Wrapper {
  box-shadow: 0 0 0 2px #6997d3;
  border-color: #fff;
}

.PassengerPicker[aria-expanded='false'] > .Wrapper {
  max-height: 50px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  border-bottom: 1px solid #dcdbdb;
  cursor: pointer;
  padding: 11px 15px;
}

.Header::after {
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  content: '\f107';
  font-size: 22px;
  transition: transform 100ms;
}

html:not([dir='rtl']) .Header::after {
  margin-left: 16px;
}

html[dir='rtl'] .Header::after {
  margin-right: 16px;
}

.PassengerPicker[aria-expanded='true'] .Header::after {
  transform: rotateZ(-180deg);
}

.Header > .Passengers {
  position: absolute;
}

.PassengerPicker[aria-expanded='false'] > .Wrapper > .ModalWrapper {
  display: none;
}

.Pickers {
  padding: 15px;
  display: flex;
  flex-flow: column;
}

.Pickers > :not(:first-child) {
  margin-top: 24px;
}

@media screen and (min-width: 481px) {
  .PassengerPicker:focus {
    position: relative;
    z-index: 1;
  }

  .Pickers > button {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .Wrapper > .ModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 16px;
  }

  .Pickers {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
  }
}
