.Button {
  cursor: pointer;
  font-family: 'EtihadAltis-Book', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
  border-radius: 4px;
  line-height: 1.5;
  height: 50px;
  padding: 0 16px;
  outline: 0;
}

.Primary {
  background-color: #bd8b13;
  border: 2px solid #bd8b13;
  color: #fff;
}

.Primary:hover {
  background-color: #976f0f;
  border-color: #976f0f;
}

.Primary:focus {
  border-color: #fff;
  box-shadow: 0 0 0 2px #6997d3;
}

.Primary:disabled {
  background-color: #dcdbdb;
  color: #4e4c4a;
  border-color: #dcdbdb;
}

.Secondary {
  background-color: transparent;
  border: 2px solid #4e4c4a;
  color: #4e4c4a;
}

.Secondary:hover {
  background-color: #4e4c4a;
  border-color: #4e4c4a;
  color: #fff;
}

.Secondary:focus {
  background-color: #4e4c4a;
  border-color: #fff;
  box-shadow: 0 0 0 2px #6997d3;
  color: #fff;
}

.Secondary:disabled {
  background-color: #dcdbdb;
  color: #4e4c4a;
  border-color: #dcdbdb;
}
