.MoreFlights {
  padding: 21px 24px;
  display: flex;
  align-items: center;
}

.MoreFlights p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #4e4c4a;
  margin-left: 15px;
  cursor: pointer;
  font-family: "EtihadAltis-Medium", Arial, Helvetica, sans-serif;
}

.AngleUp {
  display: flex;
  align-items: center;
}

.AngleUp::after {
  display: block;
  content: '\f106';
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.AngleDown {
  display: flex;
  align-items: center;
}

.AngleDown::after {
  display: block;
  content: '\f107';
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.AngleLeft {
  display: flex;
  align-items: center;
}

.AngleLeft::after {
  display: block;
  content: '\f104';
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.RightWrap {
  border-radius: 0 0 8px 0;
  height: 700px;
  width: 50%;
  padding: 24px 21px;
  overflow: auto;
  background: #fdf7ea;
}

.RightWrap::-webkit-scrollbar {
  width: 10px;
}

.RightWrap::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

.RightWrap::-webkit-scrollbar-thumb {
  background-color: #b8b7b7;
  border-radius: 10px;
}

.RightCard {
  background: #fff;
  box-shadow: 0 0 5px #b8b7b7;
  border-radius: 8px;
  margin-top: 39px;
}

.HotelTop {
  min-height: 95px;
}

.HotelTop img {
  display: block;
  margin: 0 auto 4px;
}

.HotelTop p {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #4e4c4a;
  margin: 0;
  font-family: "EtihadAltis-Book", Arial, Helvetica, sans-serif;
}

.HotelTop .DayDuaration {
  font-size: 14px;
  font-family: "EtihadAltis-Medium", Arial, Helvetica, sans-serif;
  color: #bd8b13;
}

.HotelTop h4 {
  text-align: center;
  color: #bd8b13;
  font-size: 16px;
  font-weight: normal;
  font-family: "EtihadAltis-Medium", Arial, Helvetica, sans-serif;
}
