.FilterOptions {
  display: grid;
  grid-template-columns:
    auto
    max-content;
  gap: 16px;
  margin: 12px 16px;
  align-items: center;
}

.FilterOptions > label {
  margin: 8px 0;
}

.Header > div {
  display: flex;
  align-items: center;
}

.Header > div > span {
  font-size: 32px;
  display: inline-block;
  margin: 0 8px;
}
