.FlightItem {
  display: grid;
  grid-template-columns:
    40px
    max-content;
  gap: 0 16px;
}

.Icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background-color: #f2e8d0;
  transform: rotateZ(90deg);
  align-self: center;
}

.Info {
  display: grid;
  grid-template-rows:
    max-content
    max-content
    max-content;
  gap: 6px 0;
  font-size: 14px;
}

.Info > strong {
  font-family: 'EtihadAltis-Medium', Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.Info > button {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #005f96;
  font-family: 'EtihadAltis-Book';
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  justify-self: start;
  line-height: 1;
}
