.ShoppingCart {
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: 0;
  max-height: unset;
  left: 0;
  border-top: 3px solid #bd8b13;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition:
    bottom 200ms,
    box-shadow 200ms;
  background-color: #fff;
}

.ShoppingCart[aria-expanded='false'] {
  bottom: -100px;
  max-height: 90px;
  box-shadow: none;
}

.ShoppingCart.ShowDetails {
  height: unset;
}

.ContentWrapper {
  display: grid;
  grid-template-columns:
    1fr
    max-content;
  height: 100%;
}

.Items {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.Items > *.Item:not(:first-child) {
  margin-left: 40px;
}

.Details {
  display: grid;
  grid-template-columns:
    max-content
    max-content;
  gap: 0 8px;
  align-self: center;
  padding: 8px 0;
}

.Total {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.Total > span {
  font-size: 18px;
  margin-bottom: 4px;
}

.Total > strong {
  font-family: 'EtihadAltis-Medium', Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.ViewDetails {
  grid-column: 1 / -1;
  border: 0;
  background-color: transparent;
  outline: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;
  align-items: center;
  height: 30px;
  cursor: pointer;
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #005f96;
}

.ViewDetails > span::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #4e4c4a;
  border-top: 0;
  border-left: 0;
  transform: translateX(8px) translateY(2px) rotateZ(225deg);
  content: '';
  transition: transform 100ms;
}

.ShoppingCart.ShowDetails .ViewDetails > span::after {
  transform: translateX(8px) translateY(-2px) rotateZ(45deg);
}

.DetailedView {
  background-color: #ededec;
}

.DetailedViewWrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

.DetailedViewWrapper > .DetailedItem:not(:first-child) {
  margin-left: 40px;
}
