.ComponentContainer {
  display: flex;  
  width: 238px;
  height: 247.5px;
  position: relative;
  padding: 3px 1.5px 0;
}

.Content {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1 1 100%;
  overflow: hidden;
  z-index: 1;
  padding: 24px 20px;
  color: #fff;
  position: relative;
  user-select: none;
  background: url('../../../../../Assets/Images/Experimental/Sky-Back.jpg') center center no-repeat;
  background-size: cover;
}

.FlightType {
  margin: 4px 0 0 0;
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
}

.AirportDiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.Airport {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.Date {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

.CheckIn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px; 
  text-align: right;  
  color: #fff;
  margin: auto 0 0 0;
  text-align: right;
  cursor: pointer;
}

.CheckIn img {
  width: 7.41px;
  height: 12px;
  margin: 2px 0 0 10.59px;
}
