.amount-picker {
  display: flex;
  font-size: 16px;
}

.amount-picker > img {
  height: 40px;
}

html:not([dir='rtl']) .amount-picker > img {
  margin-right: 10px;
}

html[dir='rtl'] .amount-picker > img {
  margin-left: 10px;
}

.amount-picker > .info {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  justify-content: center;
}

.amount-picker > .info > span {
  display: block;
}

.amount-picker > .info > .title {
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 24px;
}

.amount-picker > .amount {
  display: flex;
  align-items: center;
}

.amount-picker > .amount > button {
  border: 1px solid #4e4c4a;
  background-color: transparent;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  outline: 0;
  font-size: 0;
  cursor: pointer;
}

.amount-picker > .amount > button:disabled {
  cursor: not-allowed;
  border-color: #dcdbdb;
  background-color: #dcdbdb;
  color: #4e4c4a;
}

.amount-picker > .amount > button:focus {
  box-shadow: 0 0 0 2px #6997d3;
  border-color: transparent;
}

.amount-picker > .amount > button::after {
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.amount-picker > .amount > .decrease:not(:disabled) {
  background-color: transparent;
  border-color: #4e4c4a;
  color: #4e4c4a;
}

.amount-picker > .amount > .decrease:not(:disabled):hover,
.amount-picker > .amount > .decrease:not(:disabled):focus {
  background-color: #4e4c4a;
  color: #fff;
}

.amount-picker > .amount > .decrease::after {
  content: '\f068';
}

.amount-picker > .amount > .increase:not(:disabled) {
  border-color: #bd8b13;
  background-color: #bd8b13;
  color: #fff;
}

.amount-picker > .amount > .increase:not(:disabled):hover {
  background-color: #976f0f;
}

.amount-picker > .amount > .increase::after {
  content: '\f067';
}

.amount-picker > .amount > span {
  width: 30px;
  text-align: center;
}
