.passenger-picker {
  display: inline-block;
  position: relative;
  outline: 0;
  cursor: pointer;
}

.passenger-picker > .header {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
}

.passenger-picker:focus > .header {
  border: 1px solid #a5c1e5;
}

.passenger-picker:hover > .header {
  background-color: #f3f3f3;
}

.passenger-picker > .header > img {
  margin-left: 10px;
}

html[dir='rtl'] .passenger-picker > .header > img {
  margin-left: 0;
  margin-right: 10px;
}

.passenger-picker > .pickers {
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #a6a6a6;
  border-radius: 8px;
  z-index: 1000;
  cursor: default;
}

.passenger-picker[aria-expanded='false'] > .pickers {
  display: none;
}

html[dir='rtl'] .passenger-picker > .pickers {
  left: initial;
  right: -16px;
}

.passenger-picker > .pickers > .amount-picker {
  padding: 25px 30px 0;
}

.passenger-picker > .pickers > .actions {
  padding: 19px 19px;
  display: flex;
  justify-content: flex-end;
}

.passenger-picker > .pickers > .actions > button {
  background-color: transparent;
  border: 0;
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 6px 11px;
  line-height: 18px;
  color: #bd8b13;
  cursor: pointer;
  border-radius: 3px;
}

.passenger-picker > .pickers > .actions > button:hover {
  background-color: #f3f3f3;
}
