.passenger-picker {
  display: block;
  position: relative;
  outline: 0;
  height: 50px;
  font-size: 18px;
  user-select: none;
}

.passenger-picker:focus {
  position: relative;
  z-index: 1;
}

.passenger-picker > .wrapper {
  border-radius: 4px;
  border: 1px solid #4e4c4a;
  background-color: #fff;
  overflow: hidden;
}

.passenger-picker[aria-expanded='true'] > .wrapper,
.passenger-picker:focus > .wrapper {
  box-shadow: 0 0 0 2px #6997d3;
  border-color: #fff;
}

.passenger-picker[aria-expanded='false'] > .wrapper {
  max-height: 50px;
}

.passenger-picker > .wrapper > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  border-bottom: 1px solid #dcdbdb;
  cursor: pointer;
  padding: 11px 15px;
}

.passenger-picker > .wrapper > .header::after {
  font-family: 'Icons', Arial, Helvetica, sans-serif;
  content: '\f107';
  font-size: 22px;
  transition: transform 100ms;
}

.passenger-picker[aria-expanded='true'] > .wrapper > .header::after {
  transform: rotateZ(-180deg);
}

html:not([dir='rtl']) .passenger-picker > .wrapper > .header::after {
  margin-left: 16px;
}

html[dir='rtl'] .passenger-picker > .wrapper > .header::after {
  margin-right: 16px;
}

.passenger-picker > .wrapper > .header > .passengers {
  position: absolute;
}

.passenger-picker > .wrapper > .pickers {
  padding: 15px;
}

.passenger-picker[aria-expanded='false'] > .wrapper > .pickers {
  display: none;
}

.passenger-picker > .wrapper > .pickers > .amount-picker:not(:first-child) {
  margin-top: 24px;
}
