.input-ui-component {
  font-family: 'EtihadAltis-Book', Arial, sans-serif;
  display: inline-block;
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  border-radius: 6px;
  height: 60px;
  border: 1px solid #b8b7b7;
  color: #4e4c4a;
  transition:
    border 300ms,
    box-shadow 300ms;
}

.input-ui-component:focus-within {
  border: 1px solid #6997d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-ui-component > input {
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: 1.5em 1.3rem 0.3em;
  margin: 0;
  font-family: 'EtihadAltis-Book', Arial, sans-serif;
  font-size: 1em;
  outline: 0;
  color: #4e4c4a;
}

.input-ui-component .label-wrapper {
  z-index: 0;
  height: 0;
  overflow: visible;
}

.input-ui-component .label-wrapper > label {
  display: block;
  font-weight: 100;
  font-size: 1em;
  font-family: 'EtihadAltis-Book', Arial, sans-serif;
  padding: 1.15em;
  pointer-events: none;
  transition:
    padding 100ms,
    font-size 100ms,
    font-weight 100ms;
}

.input-ui-component:focus-within .label-wrapper > label,
.input-ui-component.has-value .label-wrapper > label {
  padding: 0.9em 1.05em;
  font-size: 1.3rem;
  font-weight: 600;
}
