.date-picker {
  display: inline-flex;
  flex-flow: row wrap;
  user-select: none;
  position: relative;
}

.date-picker > .outbound,
.date-picker > .inbound {
  width: 50%;
  display: inline-flex;
  flex-flow: column;
}

.date-picker:not(.return-trip) > .outbound {
  width: 100%;
}

.date-picker > .outbound > input,
.date-picker > .inbound > input {
  width: 100%;
  z-index: 0;
  cursor: pointer;
}

.date-picker > .outbound > input:focus,
.date-picker > .inbound > input:focus {
  z-index: 1 !important;
}

.date-picker[aria-expanded='false'] > .modal-wrapper {
  display: none;
}

.date-picker > .modal-wrapper > .calendar-wrapper {
  width: 700px;
  position: absolute;
  top: 91px;
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow:
    0 0 0 2px #6997d3,
    0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 11px 16px;
  z-index: 1;
}

html:not([dir='rtl']) .date-picker > .modal-wrapper > .calendar-wrapper {
  right: 0;
}

html[dir='rtl'] .date-picker > .modal-wrapper > .calendar-wrapper {
  left: 0;
}

.date-picker > .modal-wrapper > .calendar-wrapper > button {
  width: 100%;
  margin-top: 24px;
}

@media screen and (max-width: 900px) {
  .date-picker > .modal-wrapper > .calendar-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 481px) {
  html[dir='rtl'] .date-picker > .inbound > input,
  html:not([dir='rtl']) .date-picker.return-trip > .outbound > input {
    border-right: 0;
  }

  html:not([dir='rtl']) .date-picker > .inbound > input:not(:focus) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  html[dir='rtl'] .date-picker > .inbound > input:not(:focus),
  html:not([dir='rtl']) .date-picker.return-trip > .outbound > input:not(:focus) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  html[dir='rtl'] .date-picker.return-trip > .outbound > input:not(:focus) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .date-picker > .modal-wrapper > .calendar-wrapper > button {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .date-picker > .outbound,
  .date-picker > .inbound {
    width: 100%;
  }

  .date-picker > .inbound {
    margin-top: 8px;
  }

  .date-picker > .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .date-picker > .modal-wrapper > .calendar-wrapper {
    position: static;
    box-shadow: none;
    border-radius: 8px;
    padding: 16px;
  }
}
