.Inbound {
  background: #fff;
  border-radius: 8px;
}

.Header {
  text-align: center;
}

.Header > h1 {
  font-size: 22px;
  margin-bottom: 24px;
}

.Header > h2 {
  font-size: 18px;
  margin-bottom: 32px;
}

.Header > img {
  margin-bottom: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 6px;
}

.FlightSearchResult {
  margin-bottom: 24px;
}
