.amount-picker-ui-component {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.amount-picker-ui-component > .controls {
  display: flex;
  align-items: center;
  margin: 12px;
}

.amount-picker-ui-component > .controls > button {
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 28px;
  border-radius: 6px;
  border: 1px solid #b8b7b7;
  background-color: transparent;
  color: #4e4c4a;
  cursor: pointer;
  outline: 0;
}

.amount-picker-ui-component > .controls > button:focus {
  border: 1px solid #6997d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.amount-picker-ui-component > .controls > button.decrease:disabled {
  color: #959492;
  background-color: #ededec;
}

.amount-picker-ui-component > .controls > button.increase {
  color: #bd8b13;
}

.amount-picker-ui-component > .controls > button.increase:disabled {
  color: #caa242;
  background-color: #ededec;
}

.amount-picker-ui-component > .controls > button::before {
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.amount-picker-ui-component > .controls > button.decrease::before {
  content: '\f068';
}

.amount-picker-ui-component > .controls > button.increase::before {
  content: '\f067';
}

.amount-picker-ui-component > .controls > span {
  min-width: 40px;
  text-align: center;
}
