.AirportSearch {
  height: 59px;
}

.Wrapper {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.AirportSearch[aria-expanded='false'] .Wrapper {
  max-height: 59px;
}

.AirportSearch.Focused .Wrapper {
  border-color: #fff;
  box-shadow: 0 0 0 2px #6997d3;
}

.ModalWrapper > .Wrapper > input {
  width: 100%;
  border: 0;
  height: 58px;
  border-radius: 0;
}

.ModalWrapper > .Wrapper > input:focus {
  box-shadow: none;
  border-bottom: 1px solid #dcdbdb;
}

.Result {
  max-height: 400px;
  overflow: auto;
  flex-flow: column;
  font-size: 16px;
}

.ListTypeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ListTypeSelector {
  width: 100%;
  display: flex;
  align-items: center;  
}

.ListTypeSelector .TypeItem {
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 21px;
  color: #dcc283;
  padding: 20px;
  cursor: pointer;
}

.ListTypeSelector .TypeItem.Active {
  font-weight: 600;
  color: #bd8b13;
}

.ListTypeDescription {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px 10px;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #4e4c4a;
}

.ListTypeDescription img {
  margin-right: 14px;
}

.AirportSearch[aria-expanded='false'] .Result {
  visibility: hidden;
}

.NoResult {
  padding: 11px 16px;
}

.Airport {
  cursor: pointer;
}

.Airport.Hover {
  background-color: #f2f2f2;
}

.Airport[aria-selected='true'] {
  background-color: #6997d3;
  color: #fff;
}

.Airport:not(:first-child) {
  border-top: 1px solid #dcdbdb;
}

.Airport > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 11px 16px;
  min-width: 0;
}

.Airport > div:first-child {
  padding-bottom: 0;
}

.Airport > div > span {
  line-height: 20px;
}

.CityName,
.AirportName,
.CountryName {
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 481px) {
  .AirportSearch.Focused {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .AirportSearch[aria-expanded='true'] {
    border-radius: 4px;
    box-shadow: 0 0 0 2px #6997d3;
  }

  .AirportSearch[aria-expanded='true'] > .ModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding: 16px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .AirportSearch[aria-expanded='true'] .Wrapper {
    width: 100%;
  }

  .Result {
    max-height: calc(100vh - 82px);
  }
}

.SurpriseDropDown {
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #f68d2e 0%, #b15b0d 100%);
}

.SurpriseDropDown .Budget {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #fff;
  margin: 30px 0 0 0;
}

.SurpriseDropDown .BudgetValue {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #fff;
  margin: 3px 0 0 0;
}

.SurpriseDropDown .BudgetSlider {
  width: 345px;  
}

.InspireButton {
  width: 128px;
  height: 38px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #f68d2e;
  margin: 30px 0 0 0;
  user-select: none;
  cursor: pointer;
}

.AirportCity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: calc(50% - 35px);
  height: 138px;
  overflow: hidden;
  float: left;
  margin: 10px 15px 10px 20px;
  cursor: pointer;
}

.AirportCity:nth-child(2n+1) {
  margin-left: 15px;
  margin-right: 20px;
}

.AirportCity .CityImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.AirportCity .Overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.AirportCity .CityName {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 134.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.AirportCity .Price {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.5%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.AirportCity.Hover .Overlay {
  background: rgba(0, 0, 0, 0.6);
}
