.Container {
  display: flex;
  position: relative;
}

.Dropdown {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 8px #a6a6a6;
  border-radius: 8px;
  width: 300px;
  right: 10px;
  top: 0;
  padding: 15px;
  z-index: 1;
}

.Dropdown .DropdownItem {
  cursor: pointer;
  position: relative;
  font-family: "EtihadAltis-Normal", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #4e4c4a;
  display: flex;
  align-items: center;
  padding: 15px 10px 15px 28px;
}

.Dropdown .DropdownItem img {
  position: absolute;
  width: 17px;
  height: 12.52px;
  left: 0;
}

.Dropdown .DropdownItem .Recommended {
  font-family: "EtihadAltis-Normal", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #7a9a01;
  margin-left: 10px;
}

.Dropdown .DropdownItem.NoAvailable {
  color: rgba(78, 76, 74, 0.5);
  cursor: not-allowed;
}

.Dropdown .DropdownItem .NoAvailable {
  font-style: italic;
  margin-left: 10px;
  font-size: 16px;
}

.Container button.Active {
  border: 4px solid #bd8b13;
  color: #bd8b13;
}
