.DayRibbon {
  display: flex;
  border: 1px solid #dcdbdb;
  border-left: 0;
  border-right: 0;
  padding: 8px 0;
}

.Day {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #b8b7b7;
}

.Day:not([aria-selected='true']):hover {
  background-color: #ededec;
  cursor: pointer;
  color: #4e4c4a;
}

.Day[aria-selected='true'] {
  color: #bd8b13;
}

.Day > strong {
  font-size: 18px;
  padding-bottom: 8px;
  white-space: nowrap;
}

.Day > span {
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 1130px) {
  .DayRibbon > :nth-child(1),
  .DayRibbon > :nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  .DayRibbon > :nth-child(2),
  .DayRibbon > :nth-child(6) {
    display: none;
  }
}
