footer {
  display: flex;
  justify-content: center;
  color: #4e4c4a;
}

footer a {
  text-decoration: none;
  color: #4e4c4a;
}

footer a:hover {
  text-decoration: underline;
}

footer .content-wrapper > * {
  padding-top: 3em;
  margin-top: 3em;
  border-top: 1px solid #dcdbdb;
}

/* Link groups. */
footer .link-groups {
  padding-top: 2em;
  display: flex;
  flex-flow: row wrap;
}

footer .link-group {
  margin-top: 1em;
  width: 33%;
}

footer .link-group-header {
  font-size: 1.1em;
  font-family: 'EtihadAltis-Text', Arial, sans-serif;
  padding-bottom: 0.5em;
}

footer .link-group-item {
  padding: 0.4em 0;
}

/* Social media links. */
footer .social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-media-links a:hover {
  text-decoration: none;
}

footer .social-media-link {
  margin: 0 6px;
}

/* Legal. */
footer .legal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4em;
}

footer .legal-links {
  overflow: hidden;
}

footer .legal-link {
  display: inline-block;
  margin-left: -20px;
  margin-right: 20px;
  line-height: 2em;
}

html[dir='rtl'] .legal-link {
  margin-left: 20px;
  margin-right: -20px;
}

footer .legal-link::before {
  content: '|';
  display: inline-block;
  width: 20px;
  text-align: center;
}

footer .abu-dhabi-to-the-world {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  white-space: nowrap;
  line-height: 2em;
}

footer .abu-dhabi-to-the-world > img {
  margin-bottom: 1em;
  max-width: 254px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer .link-group {
    width: 50%;
  }

  footer .legal {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  footer .abu-dhabi-to-the-world {
    padding-top: 1em;
    align-items: flex-start;
    white-space: unset;
  }
}

@media screen and (max-width: 520px) {
  footer .link-group {
    width: 100%;
    text-align: center;
  }
}
