.SearchDetails {
  background-color: #fff;
  padding: 16px 24px;
  transition: padding 300ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.OriginDestination {
  display: flex;
  align-items: center;
}

.OriginDestination > span {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
}

.OriginDestination > img {
  margin: 0 16px;
  width: 26px;
}

html[dir='rtl'] .OriginDestination > img {
  transform: scaleX(-1);
}

.OriginDestination > span > strong {
  font-family: 'EtihadAltis-Medium', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #bd8b13;
}

.EditSearch {
  height: 34px;
}

html:not([dir='rtl']) .EditSearch {
  border-left: 1px solid #b8b7b7;
  padding-left: 8px;
}

html[dir='rtl'] .EditSearch {
  border-right: 1px solid #b8b7b7;
  padding-right: 8px;
}

.EditSearch > button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  color: #005f96;
  font-size: 16px;
  height: 100%;
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
}

html:not([dir='rtl']) .OriginDestination > span > strong {
  margin-right: 8px;
}

html[dir='rtl'] .OriginDestination > span > strong {
  margin-left: 8px;
}

@media screen and (max-width: 650px) {
  .SearchDetails {
    padding: 16px;
  }
}
