.Hotels {
  user-select: none;
}

.Header {
  text-align: center;
  margin-bottom: 30px;
}

.Header > .Icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  background-color: #f2e8d0;
  align-self: center;
  margin-bottom: 10px;
}

.Header > h1 {
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #4e4c4a;
  margin-bottom: 8px;
}

.Header > h2 {
  font-family: 'EtihadAltis-Medium', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #bd8b13;
}

.SortingAndFiltering {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.SortMenu[aria-expanded='true'],
.FilterMenu[aria-expanded='true'] {
  z-index: 1;
}

.FilterMenu {
  margin-right: 16px;
}

.SortMenuContent {
  display: flex;
  flex-flow: column;
  padding: 8px 0;
}

.SortMenuContent > input {
  display: none;
}

.SortMenuContent > label {
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
}

.SortMenuContent > label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 18px;
  border: 2px solid transparent;
  border-top: 0;
  border-left: 0;
  transform: rotateZ(45deg);
  margin-right: 24px;
}

.SortMenuContent > input:checked + label::before {
  border-color: #4e4c4a;
}

.Offers {
  padding: 12px;
  max-height: 600px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #959492 #dcdbdb;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) inset;
  border-radius: 8px;
}

.Offers::-webkit-scrollbar {
  width: 12px;
}

.Offers::-webkit-scrollbar-track {
  background-color: #dcdbdb;
  border-radius: 8px;
}

.Offers::-webkit-scrollbar-thumb {
  background-color: #959492;
  border-radius: 8px;
}

.Recommended {
  margin-bottom: 20px;
}

.Hotel {
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.Hotel[aria-selected='true'] {
  border-color: #bd8b13;
}

.Offers > .Hotel:not(:last-child) {
  margin-bottom: 20px;
}
