@font-face {
  font-family: 'EtihadAltis-Text';
  src: url('./Assets/Fonts/etihadaltis-text_v3-webfont.woff') format('woff');
}

@font-face {
  font-family: 'EtihadAltis-Book';
  src: url('./Assets/Fonts/etihadaltis-book_v3-webfont.woff') format('woff');
}

@font-face {
  font-family: 'EtihadAltis-Medium';
  src: url('./Assets/Fonts/etihadaltis-medium_v3-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Icons';
  src: url('./Assets/Fonts/font-awesome.woff') format('woff');
}

body {
  font-family: 'EtihadAltis-Book', Arial, Helvetica, sans-serif;
  color: #4e4c4a;
  transition: padding 200ms;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'EtihadAltis-Text', Arial, Helvetica, sans-serif;
}

/* Content wrapper. */
.ContentWrapper {
  max-width: 1440px;
  padding: 0 24px;
  width: 100%;
  margin: 0 auto;
  transition: padding 300ms;
}

@media screen and (max-width: 768px) {
  .ContentWrapper {
    padding: 0 8px;
  }
}
