.ExperienceItem {
  display: grid;
  grid-template-columns:
    40px
    max-content;
  gap: 0 16px;
  min-width: 200px;
}

.Icon {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  background-color: #fbd1ab;
  align-self: center;
}

.Info {
  display: grid;
  grid-template-rows:
    max-content
    max-content
    max-content;
  gap: 6px 0;
  font-size: 14px;
}

.Info > strong {
  font-family: 'EtihadAltis-Medium', Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.ExperienceItemDetailed > span,
.ExperienceItemDetailed > strong {
  display: block;
  line-height: 1.6;
}

.ExperienceItemDetailed > .Pricing {
  margin: 0 0 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #cecece;
}

.ExperienceItemDetailed > span {
  font-size: 14px;
}

.ExperienceItemDetailed > .ExperiencePrice {
  margin-bottom: 16px;
  color: #7a9a01;
}
